body {
  background-image: linear-gradient(120deg, #0a0d0e 0%, #693333 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  
}



.movieapp > .row{
  overflow-x: auto;
flex-wrap: nowrap;


}

 .col{
  color: aliceblue;
}

.image-container{
position: relative;
transition: transform 0.2s;
}
.image-container  :hover{
  cursor: pointer;
  transform: scale(1.1);
}


.image-container:hover .overlay{
opacity: 1;

}

.overlay{

  position: absolute;
  background:rgba(0,0,0,0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  font-size: 20px;
  bottom: 0;
  text-align: center;
}